<!DOCTYPE html>
<html>
  <head>
    <title>Tradesfordays</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render "shared/navbar" %>
  <%= yield %>
  </body>
</html>
